# Storage dir
dataDir=/var/zookeeper

# Server settings
tickTime=2000
initLimit=10
syncLimit=5

# Ports
clientPort=2181
admin.serverPort=8090


# Neighbours
server.1={{ zookeeper_servers[1]  }}
server.2={{ zookeeper_servers[2]  }}
server.3={{ zookeeper_servers[3]  }}
