# Storage dir
dataDir=/var/zookeeper

# Server settings
tickTime=2000
initLimit=10
syncLimit=5

# Ports
clientPort=2181
admin.serverPort=8090


# Neighbours
{% for host in hostvars %}
server.{{ loop.index }}={{host}}:2888:3888
{% endfor %}
